@import '../../partials/_variables.scss';
@import '../../partials/_mixins.scss';
.heroimage {
    @include desktop {
        width: 100%;
        object-fit: cover;
        min-height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__paragraph {
            position: relative;
            // top: 50%;
            color: white;
            // width: 21em;
            margin: 0 auto;
            border-right: 2px solid rgba(255, 255, 255, .75);
            // @include h3-subheader;
            // text-align: center;
            white-space: nowrap;
            overflow: hidden;
            // transform: translateY(-50%);
        }
        &__animation {
            animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
        }
        // &__paragraph {
        //     @include h3-subheader;
        //     margin: 0px;
        //     color: white;
        //     text-align: center;
        //     line-height: normal;
        // }
        &__wrapper {
            position: absolute;
            top: calc(50% - 44px);
            display: flex;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__container {
            position: relative;
        }
    }
}

//Animation for type writer
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 21em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: white;
    }
    to {
        border-right-color: transparent;
    }
}