@import '../../partials/_variables.scss';
@import '../../partials/_mixins.scss';
.heroimage {
    background: url(../../assets/hero-image.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile-h2-subheader;
    &__paragraph {
        margin: 0px;
        color: white;
        background-color: #0b74368a;
        text-align: center;
        width: 288px;
        opacity: 0.6;
        // position: absolute;
        // z-index: 1000;
    }
}