@import '../../partials/_variables.scss';
@import '../../partials/_mixins.scss';
.heroimage {
    @include desktop {
        width: 100%;
        object-fit: cover;
        min-height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__paragraph {
            @include h3-subheader;
            margin: 0px;
            color: white;
            text-align: center;
            line-height: normal;
        }
        &__wrapper {
            position: absolute;
            top: calc(50% - 44px);
            display: flex;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__container {
            position: relative;
        }
    }
}