@import './partials/variables';
@import './partials/mixins';
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    font-size: 16px;
    text-decoration: none;
    // font-family: $font-family, $font-family-alt;
    // color: $font-color;
    margin: 0px;
}

a {
    text-decoration: none;
    margin: 0px;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }
// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }