@import '../../partials/_variables.scss';
@import '../../partials/_mixins.scss';
.header {
    @include desktop {
        @include desktop-padding;
        background-color: $navigation;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 5px;
        &__iconheader {
            display: flex;
            align-items: center;
        }
        &__icon {
            width: 45px;
            height: 45px;
        }
        &__one {
            padding-left: 10px;
            @include h2-header;
            font-family: "Quicksand";
            color: $text;
        }
        &__two {
            @include h2-header;
            font-family: "Quicksand";
            color: $text;
        }
    }
}