@import '../../partials/_variables.scss';
@import '../../partials/_mixins.scss';
.modal {
    @include desktop {
        background-color: white;
        &__heading {
            margin: 0;
            padding: 10px;
            background-color: #81B9BF;
            color: white;
        }
        &__name {
            padding: 10px;
            font-size: 20px;
        }
        &__input {
            margin-left: 10px;
            font-size: 20px;
        }
        &__buttons {
            display: flex;
            flex-flow: row-reverse;
            justify-content: center;
            justify-content: space-around;
        }
        &__button {
            @include button;
            margin: 0;
            padding: 10px 40px;
            font-size: 15px;
            border-radius: 50px;
            margin-top: 20px;
            // margin-left: 10px;
        }
    }
}