@import '../../partials/_variables.scss';
@import '../../partials/_mixins.scss';
.plantitem {
    //@includedesktop-padding:;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    height: 300px;
    @include desktop {
        display: flex;
        overflow: hidden;
        &__image {
            max-width: 30%;
            object-fit: cover;
        }
        &__intro {
            margin: 20px;
            width: 650px;
        }
        &__namenick {
            display: flex;
            align-items: center;
        }
        &__name {
            @include h1-header;
            margin-right: 20px;
            color: #81B9BF;
        }
        &__nickname {
            @include h2-header;
        }
        &__description {
            @include paragraph;
            padding-top: 10px;
            height: 35%;
        }
        &__date {
            display: flex;
            flex-direction: column;
        }
        &__icons {
            margin: 20px;
            width: 170px;
        }
        &__trash {
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 10px;
        }
        &__drop {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &__form {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &__button {
            margin: 0;
            @include button;
            padding: 5px 10px;
            margin-left: 5px;
        }
        &__paragraph {
            @include paragraph;
            margin: 0;
        }
        &__flex {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}