@import '../../partials/_variables.scss';
@import '../../partials/_mixins.scss';
.home {
    @include desktop-padding;
    @include desktop {
        color: #004C41;
        &__header {
            @include h1-header;
            margin-top: 40px;
        }
        &__wrap {
            display: flex;
        }
        &__column {
            color: $navigation;
            padding-right: 20px;
            width: 50%;
        }
        &__paragraph {
            font-size: 20px;
            margin: 0px;
            padding-top: 15px;
            color: $navigation;
            padding-left: 10px;
        }
        &__image {
            width: 50%;
            height: 354px;
        }
        &__flex {
            padding-top: 10px;
            display: flex;
            align-items: center;
        }
        &__sideicon {
            margin-left: 40px;
            padding-top: 2px;
            height: 45px;
            width: 45px;
            padding-right: 5px;
        }
        &__button {
            @include button;
            margin-top: 50px;
            margin-left: 40px;
        }
        &__footer {
            display: flex;
            color: white;
            margin-top: 20px;
            padding-right: 16px;
            align-items: center;
            background-color: $modal-navigation;
            justify-content: flex-end;
        }
        &__icon {
            padding-left: 10px;
            height: 20px;
        }
        &__modal {
            @include modal;
        }
    }
}